body
{
	/*background-color: #99A3A4;*/
	background-color: #D5DBDB;
}

h1
{
	text-align: center;
	font-size: 50px;
	font-family: Apple Chancery;
	text-decoration: underline;
	color: #BA4A00;
}
h1:hover
{
	color: #196F3D;
}


h2
{
	padding-left: 40%;
	text-decoration: underline;
	font-size: 20px;
	color: #280338;
	font-family: Bradley Hand;
}


h2:hover , span:hover
{
	color: #4E25A0;
}

span
{
	padding-left: 40%;
	font-size: 30px;
	text-decoration: underline;
	color: #8E44AD;
}
span:hover
{
	color: #CD5C5C;
}

#n1
{
	width: 100px;
	background-color: #1B2631;
	color: white;
	margin-left: 10px;
	border: 4px solid #6E2C00;
}
#n1:hover
{
	background-color: white;
	color: #1B2631;
}

#n2
{
	width: 100px;
	background-color: #1B2631;
	color: white;
	margin-left: 10px;
	border: 4px solid #6E2C00;
}
#n2:hover
{
	background-color: white;
	color: #1B2631;
}


#btn
{
	margin-left: 10px;
	width: 50px;
	height: 35px;
	font-size: 15px;
}

table
{
	padding-left: 40%;
	padding-top: 50px;
	
}

input
{
	background-color:#F7DC6F ;
	color: #145A32;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 20px;
}
input:hover
{
	background-color: #EDBB99;
	color: #145A32;
	border: 1px solid white;
		box-shadow: 2px 2px 2px darkred ,-2px -2px 2px darkred ,2px 2px 2px darkred ,-2px -2px 2px darkred;
	text-shadow: 2px 2px 2px darkgoldenrod ,-2px -2px 2px darkgoldenrod  ,2px 2px 2px darkgoldenrod ,-2px -2px 2px darkgoldenrod ;
}